<div id="popup-size" class="popup-right popup-info">
    <p class="icon-cross"></p>

    <div class="info">
        <img class="icon" src="assets/images/icon-metre.svg" alt="">

        <div class="descriptions">
            <h3>Le guide des tailles</h3>
            <p> Les tailles correspondent à votre tour de tête en cm.
                <br>S : 55 cm
                <br>M : 57 cm
                L : 59 cm</p>
            <h3>Comment mesurer son tour de tête ?</h3>
            <p>Prenez un mètre ruban (ou un ruban non extensible que vous mesurerez) et faites le tour de votre tête
                à l’endroit le plus fort :
                au milieu du front, en général à 1 cm au-dessus des sourcils, à l’endroit où votre chapeau reposera.
                Prenez la mesure en gardant la tête bien droite et le ruban à l’horizontal, comme sur la
                photographie ci-contre.</p>

            <h3>Quelle taille choisir ?</h3>
            <p>Si vous vous situez entre 2 tailles, nous vous conseillons de choisir la taille supérieure pour un
                plus grand confort !
                Pour les chapeaux proposés en taille unique, lorsque le modèle l’exige, un élastique réglable vous
                permet d’ajuster le porter.</p>
            <table>
                <thead>
                <tr>
                    <th>Taille</th>
                    <th>Xs</th>
                    <th colspan="2">S</th>
                    <th colspan="2">M</th>
                    <th colspan="2">L</th>
                    <th colspan="2">XL</th>
                    <th colspan="2">XXL</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>CM</td>
                    <td>53</td>
                    <td>54</td>
                    <td>55</td>
                    <td>56</td>
                    <td>57</td>
                    <td>58</td>
                    <td>59</td>
                    <td>60</td>
                    <td>61</td>
                    <td>62</td>
                    <td>63</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>