<div id="popup-stock" class="popup-right popup-info">
    <span class="icon-cross"></span>

    <div class="info">
        <img class="icon" src="assets/images/icon-machine.svg" alt="">

        <div class="descriptions">
            <h3>Le prix juste</h3>
            <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de
                distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum
                sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de
                lettres plus ou moins normale, et en tout cas comparable avec celle du français standard.</p>
        </div>
    </div>
</div>
