<div id="popup-panier" class="popup-right">
    <p class="icon-cross"></p>
    <p class="title-top-filter">Panier</p>

    <div class="list-item">
        <div class="item">
            <div class="image">
                <img src="assets/images/product5.jpg" alt="">
            </div>

            <div class="info">
                <p class="name-product">Simone</p>
                <p class="price">295 €</p>
                <p class="des">Taille unique / Rose sorbet</p>
                <p class="number">Qté : 1</p>
                <a href="a.com" class="btn-underline">Voir les détails</a>
            </div>

            <p class="icon-cross remove"></p>
        </div>
    </div>

    <div class="box-emballage">
        <div class="image">
            <img src="assets/images/product5.jpg" alt="">
        </div>

        <div class="wrap-btn">
            <a href="" class="btn">Découvrez l'emballage de votre chapeau</a>
        </div>
    </div>

    <div class="wrap-total">
        <p>Sous-total TTC</p>
        <p class="price">295 €</p>
    </div>

    <div class="wrap-tva">
        <p>dont TVA</p>
        <p class="price">10 €</p>
    </div>

    <a href="" class="btn-full black">Voir le panier</a>
    <a href="" class="btn-full close-popup">Continuer mes achats</a>

    <div class="bottom-filter">
        <p>Retrouver les informations sur <a href="">Livraison & Retour</a></p>
        <p>Une question ? : par téléphone : <a href="">+33(0)172607768</a><br>du lundi au samedi : 10h - 19h</p>
    </div>
</div>
