<div id="popup-share-link" class="popup-center">
    <p class="icon-cross"></p>
    <div class="wrap-info">
        <div class="image">
            <img src="assets/images/product5.jpg" alt="">
        </div>

        <div class="info">
            <p class="title2">Partagez avec vos <br>proches</p>
           <div class="group-social">
               <a href="" class="btn-full">FACEBOOK <i class="icon-sm-facebook"></i></a>
               <a href="" class="btn-full">PINTEREST <i class="icon-pinterest"></i></a>
               <a href="" class="btn-full">INSTAGRAM <i class="icon-sm-instagram"></i></a>
               <a href="" class="btn-full">EMAIL <i class="icon-mail"></i></a>
           </div>
        </div>
    </div>
</div>