<div id="popup-newsletter" class="popup-center">
    <p class="icon-cross"></p>
    <div class="wrap-info">
        <div class="image">
            <img src="assets/images/product5.jpg" alt="">
        </div>

        <div class="info">
            <p class="title2">Newsletter</p>
            <div class="descriptions">
                <p>Bienvenue, pour être sûre de découvrir toutes nos nouveautés, abonnez-vous à notre newsletter !</p>
            </div>

            <div class="form-group">
                <label >Inscription newsletter</label>
                <div class="wrap-input">
                    <input type="text" class="form-control">
                    <button>OK</button>
                </div>
            </div>

            <div class="des-bottom">
                <p>Pour plus d’informations sur le traitement de vos données, vous pouvez consulter notre Politique de Confidentialité et nos Conditions Générales de Vente</p>
            </div>
        </div>
    </div>
</div>