<div id="popup-fabrique" class="popup-info popup-right">
    <p class="icon-cross"></p>

    <div class="info">
        <img class="icon" src="assets/images/icon-logo.svg" alt="">

        <div class="descriptions">
            <h3>100% fait main à Paris</h3>
            <p>Nos chapelières autrefois au service des maisons de Haute Couture les plus prestigieuses, façonnent
                chaque année des milliers de demandes des plus simples au plus insolites. </p>
        </div>
    </div>
</div>
