<div id="popup-initials" class="popup-center">
    <p class="icon-cross"></p>
    <div class="wrap-info">
        <div class="image">
            <img src="assets/images/product5.jpg" alt="">
        </div>

        <div class="info">
            <p class="title2">Broder les initiales</p>
            <div class="descriptions">
                <p>Un petit message : personnalisez votre Chapeau ou faites un cadeau avec une dédicace qui durera toute
                    une vie.</p>
            </div>

            <div class="form-group">
                <label >Initial (4 lettres max)</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>

    <div class="wrap-total">
        <p class="total">TOTAL:</p>
        <span class="price">20 €</span>
    </div>

    <a href="" class="btn-full black">Ajouter au panier</a>
</div>