<div id="popup-filter" class="popup-right">
    <p class="icon-cross"></p>

    <p class="title-top-filter">Filtrer par</p>

    <div class="item-filter">
        <p>Taille</p>
        <a data-popup="popup-size" href="" class="detail">Guide des tailles</a>

        <ul class="checkbox-group">
            <li>
                <input type="checkbox" value="">
                <label >S: 55 cm</label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label > M : 57 cm</label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label >L : 59 cm</label>
            </li>
        </ul>
    </div>

    <div class="item-filter">
        <p>Couleurs</p>

        <ul class="checkbox-group checkbox-group-color">
            <li>
                <input type="checkbox" value="">
                <label  style="background-color: #f0e4c2"></label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label  style="background-color: #1d1d1d"></label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label  style="background-color: #c39b77"></label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label  style="background-color: #915f49"></label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label  style="background-color: #dc485e"></label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label  style="background-color: #17448e"></label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label  style="background-color: #f0e4c2"></label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label  style="background-color: #1d1d1d"></label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label  style="background-color: #c39b77"></label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label  style="background-color: #915f49"></label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label  style="background-color: #dc485e"></label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label  style="background-color: #17448e"></label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label  style="background-color: #f0e4c2"></label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label  style="background-color: #1d1d1d"></label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label  style="background-color: #c39b77"></label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label  style="background-color: #915f49"></label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label  style="background-color: #dc485e"></label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label  style="background-color: #17448e"></label>
            </li>
        </ul>
    </div>

    <div class="item-filter">
        <p>Formes</p>

        <ul class="checkbox-group">
            <li>
                <input type="checkbox" value="">
                <label >Forme 1</label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label >Forme 2</label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label >Forme 3</label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label >Forme 4</label>
            </li>
        </ul>
    </div>

    <div class="item-filter">
        <p>Matières</p>

        <ul class="checkbox-group">
            <li>
                <input type="checkbox" value="">
                <label >Feutre</label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label >Paille</label>
            </li>

            <li>
                <input type="checkbox" value="">
                <label >Autre</label>
            </li>
        </ul>
    </div>

    <div class="group-btn">
        <a href="" class="btn-border">Afficher les résultats</a>

        <a href="" class="btn">Réinitialiser</a>
    </div>

    <div class="bottom-filter">
        <p>Retrouver les informations sur <a href="">Livraison & Retour</a></p>
        <p>Une question ? : par téléphone : <a href="">+33(0)172607768</a><br>du lundi au samedi : 10h - 19h
        </p>
    </div>
</div>
