<div class="block-category {{ category_classes }}">
    {% include '@blocks/popup/popup-filter.twig' %}
    {% include '@blocks/popup/popup-size.twig' %}

    <div class="wrapper">
        <div class="top-category">
            <h2 class="title">Cérémonie</h2>
            <p class="total">24 produits</p>
            <p class="descriptions">Fine sélection de matières et de couleurs, tout est mis à l’oeuvre pour <br>sublimer
                une
                silhouette, un visage, un regard…</p>
        </div>

        <div class="bar-category">
            <ul class="breadcrumbs">
                <li>
                    <a href="">Page d’accueil</a>
                </li>
                <li>
                    <a href="">E-Shop</a>
                </li>
                <li class="active">
                    <a href="">Cérémonie</a>
                </li>
            </ul>

            <div class="right-bar-category">
                <div class="group-dropdown">
                    <a href="">trier par</a>

                    <ul class="dropdown">
                        <li>
                            <a href="">1</a>
                        </li>
                        <li>
                            <a href="">2</a>
                        </li>
                    </ul>
                </div>

                <div class="group-dropdown filter-bar">
                    <a href="" data-popup="popup-filter">Filtrer par <span class="icon-bar"><i></i></span></a>
                </div>
            </div>
        </div>

        <div class="row list-product">
            <div class="col-4 product">
                <div class="image">
                    <img src="assets/images/product.jpg" alt="">
                </div>

                <div class="list-image">
                    <div class="item">
                        <a href="">
                            <img src="assets/images/product3.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="assets/images/product.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="assets/images/product.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="info-product">
                    <p class="name-product">Collette</p>
                    <p class="price">280 €</p>
                </div>

                <p class="descriptions">Sa ligne, volontairement simple et épurée, séduit par ses courbes douces et
                    subtiles.</p>

                <div class="list-color">
                    <span style="background-color: #f0e4c2"></span>
                    <span style="background-color: #1d1d1d"></span>
                    <span style="background-color: #fff"></span>
                    <span style="background-color: #c39b77"></span>
                    <span style="background-color: #915f49"></span>
                    <span style="background-color: #8e755e"></span>
                    <span style="background-color: #e4bea6"></span>
                    <span style="background-color: #f2dbdc"></span>
                    <span style="background-color: #dc485e"></span>
                    <span style="background-color: #e42f42"></span>
                    <a href="">+ 10 couleurs</a>
                </div>

                <div class="size">
                    <p>Taille unique</p>
                    <a href="">En savoir +</a>
                </div>
            </div>

            <div class="col-4 product">
                <div class="image">
                    <img src="assets/images/product.jpg" alt="">
                </div>

                <div class="list-image">
                    <div class="item">
                        <a href="">
                            <img src="assets/images/product3.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="assets/images/product.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="info-product">
                    <p class="name-product">Collette</p>
                    <p class="price">280 €</p>
                </div>

                <p class="descriptions">Sa ligne, volontairement simple et épurée, séduit par ses courbes douces et
                    subtiles.</p>

                <div class="list-color">
                    <span style="background-color: #f0e4c2"></span>
                    <span style="background-color: #1d1d1d"></span>
                    <span style="background-color: #fff"></span>
                    <span style="background-color: #c39b77"></span>
                    <span style="background-color: #915f49"></span>
                    <span style="background-color: #8e755e"></span>
                    <span style="background-color: #e4bea6"></span>
                    <span style="background-color: #f2dbdc"></span>
                    <span style="background-color: #dc485e"></span>
                    <span style="background-color: #e42f42"></span>
                    <a href="">+ 10 couleurs</a>
                </div>

                <div class="size">
                    <p>Taille unique</p>
                    <a href="">En savoir +</a>
                </div>
            </div>


            <div class="col-4 item-comment">
                <div class="info">
                    <p class="title">Comment ca marche ?</p>

                    <ul>
                        <li>Je choisis mon chapeau pour être la plus belle</li>
                        <li>Je réserve ma date</li>
                        <li>J’en profite</li>
                        <li>Je renvoie mon chapeau sans frais</li>
                    </ul>
                </div>
            </div>

            <div class="col-12">
                <div class="video">
                    <video width="100%" controls autoplay muted loop>
                        <source src="assets/images/video-category.mp4" type="video/mp4">
                    </video>
                </div>

                <div class="info">
                    <p class="title2">
                        Nos chapelières façonnent chaque année des milliers de demandes des plus simples au plus
                        insolites.
                    </p>

                    <a href="" class="btn">En savoir plus</a>
                </div>
            </div>

            <div class="col-4 product">
                <div class="image">
                    <img src="assets/images/product.jpg" alt="">
                </div>

                <div class="list-image">
                    <div class="item">
                        <a href="">
                            <img src="assets/images/product3.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="assets/images/product.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="info-product">
                    <p class="name-product">Collette</p>
                    <p class="price">280 €</p>
                </div>

                <p class="descriptions">Sa ligne, volontairement simple et épurée, séduit par ses courbes douces et
                    subtiles.</p>

                <div class="list-color">
                    <span style="background-color: #f0e4c2"></span>
                    <span style="background-color: #1d1d1d"></span>
                    <span style="background-color: #fff"></span>
                    <span style="background-color: #c39b77"></span>
                    <span style="background-color: #915f49"></span>
                    <span style="background-color: #8e755e"></span>
                    <span style="background-color: #e4bea6"></span>
                    <span style="background-color: #f2dbdc"></span>
                    <span style="background-color: #dc485e"></span>
                    <span style="background-color: #e42f42"></span>
                    <a href="">+ 10 couleurs</a>
                </div>

                <div class="size">
                    <p>Taille unique</p>
                    <a href="">En savoir +</a>
                </div>
            </div>
            <div class="col-4 product">
                <div class="image">
                    <img src="assets/images/product.jpg" alt="">
                </div>

                <div class="list-image">
                    <div class="item">
                        <a href="">
                            <img src="assets/images/product3.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="assets/images/product.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="info-product">
                    <p class="name-product">Collette</p>
                    <p class="price">280 €</p>
                </div>

                <p class="descriptions">Sa ligne, volontairement simple et épurée, séduit par ses courbes douces et
                    subtiles.</p>

                <div class="list-color">
                    <span style="background-color: #f0e4c2"></span>
                    <span style="background-color: #1d1d1d"></span>
                    <span style="background-color: #fff"></span>
                    <span style="background-color: #c39b77"></span>
                    <span style="background-color: #915f49"></span>
                    <span style="background-color: #8e755e"></span>
                    <span style="background-color: #e4bea6"></span>
                    <span style="background-color: #f2dbdc"></span>
                    <span style="background-color: #dc485e"></span>
                    <span style="background-color: #e42f42"></span>
                    <a href="">+ 10 couleurs</a>
                </div>

                <div class="size">
                    <p>Taille unique</p>
                    <a href="">En savoir +</a>
                </div>
            </div>
            <div class="col-4 product">
                <div class="image">
                    <img src="assets/images/product.jpg" alt="">
                </div>

                <div class="list-image">
                    <div class="item">
                        <a href="">
                            <img src="assets/images/product3.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="assets/images/product.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="info-product">
                    <p class="name-product">Collette</p>
                    <p class="price">280 €</p>
                </div>

                <p class="descriptions">Sa ligne, volontairement simple et épurée, séduit par ses courbes douces et
                    subtiles.</p>

                <div class="list-color">
                    <span style="background-color: #f0e4c2"></span>
                    <span style="background-color: #1d1d1d"></span>
                    <span style="background-color: #fff"></span>
                    <span style="background-color: #c39b77"></span>
                    <span style="background-color: #915f49"></span>
                    <span style="background-color: #8e755e"></span>
                    <span style="background-color: #e4bea6"></span>
                    <span style="background-color: #f2dbdc"></span>
                    <span style="background-color: #dc485e"></span>
                    <span style="background-color: #e42f42"></span>
                    <a href="">+ 10 couleurs</a>
                </div>

                <div class="size">
                    <p>Taille unique</p>
                    <a href="">En savoir +</a>
                </div>
            </div>

            <div class="col-4 product">
                <div class="image">
                    <img src="assets/images/product.jpg" alt="">
                </div>

                <div class="list-image">
                    <div class="item">
                        <a href="">
                            <img src="assets/images/product3.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="assets/images/product.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="info-product">
                    <p class="name-product">Collette</p>
                    <p class="price">280 €</p>
                </div>

                <p class="descriptions">Sa ligne, volontairement simple et épurée, séduit par ses courbes douces et
                    subtiles.</p>

                <div class="list-color">
                    <span style="background-color: #f0e4c2"></span>
                    <span style="background-color: #1d1d1d"></span>
                    <span style="background-color: #fff"></span>
                    <span style="background-color: #c39b77"></span>
                    <span style="background-color: #915f49"></span>
                    <span style="background-color: #8e755e"></span>
                    <span style="background-color: #e4bea6"></span>
                    <span style="background-color: #f2dbdc"></span>
                    <span style="background-color: #dc485e"></span>
                    <span style="background-color: #e42f42"></span>
                    <a href="">+ 10 couleurs</a>
                </div>

                <div class="size">
                    <p>Taille unique</p>
                    <a href="">En savoir +</a>
                </div>
            </div>

            <div class="col-8">
                <div class="image">
                    <img src="assets/images/item-col3.jpg" alt="">
                </div>

                <div class="info">
                    <p class="title2">
                        100% fabriqué en France
                    </p>

                    <a href="" class="btn">En savoir plus</a>
                </div>
            </div>
        </div>

        <div class="result">
            <p class="text">Vous avez vu 16 produits sur 24.</p>

            <div class="process">
                <div class="progress-bar" style="width: 20%">
                </div>
            </div>

            <a href="" class="btn-border">CHARGER PLUS</a>
        </div>
    </div>

    <div class="block-information-general">
        <div class="wrapper">
            <div class="row list-item">
                <div class="col-4 item">
                    <div class="image">
                        <img src="assets/images/item-g1.jpg" alt="">
                    </div>
                    <p class="name">Matière</p>
                </div>
                <div class="col-4 item">
                    <div class="image">
                        <img src="assets/images/item-g2.jpg" alt="">
                    </div>
                    <p class="name">Matière</p>
                </div>
                <div class="col-4 item">
                    <p class="title2">Nos chapelières  façonnent chaque année des milliers de demandes des plus simples au plus insolites. </p>
                </div>
            </div>
        </div>
    </div>
</div>