{% extends '../layouts/default.twig' %}

{% block htmlclass %}{{ parent() }} panier-html{% endblock %}
{% block bodyclass %}{{ parent() }} panier-body{% endblock %}

{% block title %}panier - {{ parent() }}{% endblock %}
{% if is_ouragan_used is defined %}
    {% if is_ouragan_used %}
        {{ ouragan_include_once_js('public/assets/js/global/site.js', 5) }}
    {% endif %}
{% endif %}

{% block pre_content %}
    <!--
    Include this snippet only on the frontpage.
    Testing tool: https://search.google.com/structured-data/testing-tool
    Documentation: https://developers.google.com/search/docs/data-types/sitelinks-searchbox
    -->
    <script type='application/ld+json'>
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "@id": "http://my-website-url.com/#website",
            "url": "http://my-website-url.com/",
            "name": "Name of the website",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "http://my-website-url.com/?s={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }

    </script>
{% endblock %}

{% block content %}
    <div class="block-cart">
        <div class="wrapper">
            <a href="" class="retour">&lt; Retour</a>
            <h2 class="title">Votre panier</h2>

            <div class="row">
                <div class="col-8 col-left">
                    <table class="cart-table">
                        <thead>
                        <tr>
                            <th class="product-info">Produit</th>
                            <th>Prix</th>
                            <th>Quantité</th>
                            <th>Sous-total TTC</th>
                            <th>dont TVA</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr class="cart_item">
                            <td class="product-info">
                                <div class="image">
                                    <img src="assets/images/product5.jpg" alt="">
                                </div>

                                <div class="info">
                                    <p class="name-product">Simone</p>
                                    <p class="des">Taille unique</p>
                                    <p class="color">Couleur : <strong>Rose sorbet</strong></p>
                                    <p class="icon-cross"></p>
                                </div>
                            </td>

                            <td class="product-prix"><span>Prix</span>295 €</td>

                            <td class="product-quantity quantity">
                                <span>Quantité</span><input type="number" min="1" max="9" step="1" value="1">
                            </td>
                            <td class="product-sous-total"><span>Sous-total TTC</span><strong>295 €</strong></td>
                            <td class="product-tva"><span>dont TVA</span><strong>10 €</strong></td>
                        </tr>

                        <tr class="cart_item">
                            <td class="product-info">
                                <div class="image">
                                    <img src="assets/images/product5.jpg" alt="">
                                </div>

                                <div class="info">
                                    <p class="name-product">Simone</p>
                                    <p class="des">Taille unique</p>
                                    <p class="color">Couleur : <strong>Rose sorbet</strong></p>
                                    <p class="icon-cross"></p>
                                </div>
                            </td>

                            <td class="product-prix"><span>Prix</span>295 €</td>

                            <td class="product-quantity quantity">
                                <span>Quantité</span><input type="number" min="1" max="9" step="1" value="1">
                            </td>
                            <td class="product-sous-total"><span>Sous-total TTC</span><strong>295 €</strong></td>
                            <td class="product-tva"><span>dont TVA</span><strong>10 €</strong></td>
                        </tr>

                        </tbody>
                    </table>

                    <div class="box-code">
                        <div class="form-group">
                            <label>Code promo</label>

                            <div class="wrap-input">
                                <input type="text" class="form-control">
                                <button class="btn-full black">Valider</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Code cadeau</label>

                            <div class="wrap-input">
                                <input type="text" class="form-control">
                                <button class="btn-full black">Valider</button>
                            </div>
                        </div>

                        <div class="wrap-btn">
                            <a href="" class="btn-full">Mettre à jour le panier</a>
                        </div>
                    </div>

                    <div class="box-bottom">
                        <div class="image">
                            <img src="assets/images/product5.jpg" alt="">
                        </div>

                        <div class="descriptions">
                            <p>Vos produits sont conditionnés avec soin Quis enim aut eum diligat quem metuat, aut eum a
                                quo
                                se metui putet? Coluntur tamen simulatione dumtaxat.</p>
                        </div>
                    </div>
                </div>

                <div class="col-4 col-right">
                    <div class="wrap-cart-totals">
                    <div class="cart-totals">
                        <div class="item-price item">
                            <p>Sous total TTC</p>
                            <strong>295 €</strong>
                        </div>

                        <div class="item-price item">
                            <p>dont TVA</p>
                            <strong>10 €</strong>
                        </div>

                        <div class="item-livraison">
                            <div class="wrap-livraison">
                                <p>Livraison :</p>
                                <a href="" class="btn-underline">Calculer les frais</a>
                            </div>

                                <form>
                                    <div class="form-group">
                                        <label>Pays</label>
                                        <select class="form-select2">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Ville*</label>
                                        <input type="text" class="form-control">
                                    </div>

                                    <div class="form-group">
                                        <label>Code postal*</label>
                                        <input type="text" class="form-control">
                                    </div>

                                    <button class="btn-full">Mettre à jour</button>
                                </form>
                        </div>

                        <div class="item-total item">
                            <p>TOTAL TTC</p>
                            <strong>310,65 €</strong>
                        </div>
                        <tr style="display:none;">
                            <th>Total Weight (g)</th>
                            <td id="mrwp_updated_weight">0</td>
                        </tr>
                    </div>

                    <a href="" class="btn-full black">Valider la commande</a>

                    <div class="descriptions-cart-totals">
                        <p>Hors d’un pays européen ?
                            <br>N ‘hésitez pas à contacter notre service client.</p>
                    </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% include '@blocks/list-product.twig' %}
{% endblock %}