<form method="POST" class="" action="" id="" novalidate>
    <!-- Text input -->
    <input type="text" name="" id="" class="" placeholder="" autocomplete="off" required/>
    <!-- Email input -->
    <input type="email" name="" id="" class="" placeholder="" autocomplete="off" required/>
    <!-- Password input -->
    <input type="password" name="" id="" class="" placeholder="" autocomplete="off" required/>
    <!-- Textarea -->
    <textarea name="" class="" id="" placeholder="" required></textarea>
    <!-- Dropdown -->
    <select name="select[]" id="" class="" required multiple>
        <option disabled selected value="">Placeholder</option>
        <option value="1">Value 1</option>
        <option value="2">Value 2</option>
    </select>
    <!-- Radio -->
    <input type="radio" name="radio-1[]" id="" value="choice-1" required>
    <input type="radio" name="radio-1[]" id="" value="choice-2">
    <!-- Checkboxe unique -->
    <input type="checkbox" name="" id="" required>
    <!-- Checkboxe multiple (cannot use required) -->
    <input type="checkbox" name="checkbox-1[]" id="" value="choice-1">
    <input type="checkbox" name="checkbox-1[]" id="" value="choice-2">
    <!-- Submit -->
    <button type="submit" class=""><span>Submit</span></button>
</form>