<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam cursus elit vitae nisl scelerisque, nec euismod nunc
    egestas. Duis sodales eros nulla, quis cursus mauris lobortis ut. Etiam posuere tortor id justo convallis
    consectetur. Duis mattis luctus sem in pellentesque. Mauris non laoreet magna, in ornare elit. Sed vel auctor mi.
    Fusce justo ipsum, mollis a vestibulum in, lobortis quis nunc. Integer imperdiet at erat vitae dignissim. Praesent
    fermentum ex sed nisi euismod, maximus aliquet ante elementum.
</p>

<ul>
    <li><a href="#" title="Lorem Ipsum dolor">Lorem Ipsum dolor</a></li>
    <li><a href="#" title="Lorem Ipsum dolor">Lorem Ipsum dolor</a></li>
    <li><a href="#" title="Lorem Ipsum dolor">Lorem Ipsum dolor</a></li>
</ul>