<a href="
    mailto:contact@email.com
    ?subject={{ ('Contact request from: \'' ~ project_name ~ '\'')|url_encode }}
    &body={{ ('Hi, ')|url_encode }}
    &cc=someoneelse@email.com, another@email.com
    &bcc=lastperson@email.com
">
    contact@email.com
</a>

