<footer id="footer">
    <div class="wrapper">
        <div class="main-footer">
            <div class="receive-email">
                <p>Inscrivez-vous pour recevoir
                    <br>nos conseils et inspirations chapeaux</p>

                <div class="form-group">
                    <input type="text" placeholder="Votre email">
                    <button><i class="icon-arrow-right"></i></button>
                </div>
            </div>
            <div class="menu-footer">
                <ul>
                    <li>
                        <a href="">E-Shop</a>
                    </li>
                    <li>
                        <a href="">Locationp</a>
                    </li>
                    <li>
                        <a href="">La marque</a>
                    </li>
                    <li>
                        <a href="">Les boutiques</a>
                    </li>
                    <li>
                        <a href="">Presse</a>
                    </li>
                </ul>

                <ul>
                    <li>
                        <a href="">Entretien & SAV</a>
                    </li>
                    <li>
                        <a href="">Livraison & Retours</a>
                    </li>
                    <li>
                        <a href="">Conditions Générales de Vente</a>
                    </li>
                    <li>
                        <a href="">Aide & Questions</a>
                    </li>
                    <li>
                        <a href="">Mentions Légales</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="bottom-footer">
            <p class="copy-right">© 2020 Mademoiselle Chapeaux. All Rights Reserved. </p>
            <p class="nous-suivre"><a href="" target="_blank">NOUS SUIVRE</a></p>

            <ul class="social">
                <li>
                    <a href="" target="_blank"><i class="icon-sm-facebook"></i></a>
                </li>
                <li>
                    <a href="" target="_blank"><i class="icon-pinterest"></i></a>
                </li>
                <li>
                    <a href="" target="_blank"><i class="icon-sm-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>