<header id="header">
    <div class="header-mobile">
        <div class="bar-mobile">
            <span></span>
        </div>

        <a class="logo" href="">
            <img src="/assets/images/logo.svg" alt="">
        </a>

        <div class="cart" data-popup="popup-panier">
            <img src="assets/images/icon-cart-2.svg" alt="">
            <span>0</span>
        </div>
    </div>

    <div class="wrap-header">
        <p class="icon-close"></p>

        <div class="main-header">
            <div class="wrapper">
                <a class="logo" href="">
                    <img src="/assets/images/logo.svg" alt="">
                </a>

                <ul class="menu">
                    <li class="menu-item-has-children">
                        <a href="">E-SHOP</a>

                        <div class="wrap-sub-menu">
                            <ul class="sub-menu">
                                <li class="menu-item-has-children">
                                    <a href="">Occasion</a>

                                    <ul>
                                        <li>
                                            <a href="">Cérémonie</a>
                                        </li>

                                        <li>
                                            <a href="">Casual</a>
                                        </li>

                                        <li>
                                            <a href="">Location</a>
                                        </li>

                                        <li>
                                            <a href="">Événement</a>
                                        </li>

                                        <li>
                                            <a href="">Carte cadeau</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="menu-item-has-children">
                                    <a href="">Pour qui ?</a>
                                    <ul>
                                        <li>
                                            <a href="">Homme</a>
                                        </li>

                                        <li>
                                            <a href="">Femme</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="">Par matière</a>

                                    <ul>
                                        <li>
                                            <a href="">Paille</a>
                                        </li>

                                        <li>
                                            <a href="">Feutre</a>
                                        </li>

                                        <li>
                                            <a href="">Autres</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="menu-item-has-children">
                                    <a href="">Accessoires</a>

                                    <ul>
                                        <li>
                                            <a href="">Boite à chapeau</a>
                                        </li>

                                        <li>
                                            <a href="">Autres accessoires</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="menu-item-has-children menu-top-have-click">
                        <a href="">La marque</a>

                        <div class="wrap-sub-menu">
                            <ul class="sub-menu">
                                <li>
                                    <a href="">
                                        <img src="assets/images/mn1.jpg" alt="">
                                        <span>Notre histoire</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="">
                                        <img src="assets/images/mn2.jpg" alt="">
                                        <span>Notre savoir-faire</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="">
                                        <img src="assets/images/mn3.jpg" alt="">
                                        <span>Nos engagements</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="">Lookbook</a>
                    </li>

                    <li>
                        <a href="">Journal</a>
                    </li>

                    <li class="icon-boutique">
                        <a href="">Boutiques</a>
                    </li>
                </ul>

                <ul class="right-menu">
                    <li>
                        <a href="">Connexion</a>
                    </li>

                    <li>
                        <a href="" data-popup="popup-panier">Panier (0)</a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="top-header">
            <div class="wrap-form-search">
                <form action="#" class="form-search">
                    <button class="icon-search"></button>

                    <div class="form-group">
                        <input type="search" placeholder="Recherche…">
                    </div>

                    <span class="icon-cross"></span>
                </form>
            </div>

            <div class="wrapper">
                <p class="text">15 rue des Tournelles 75 004 Paris</p>

                <div class="right-top-header">
                    <div class="search">
                        <p class="icon-search"></p>
                    </div>

                    <ul>
                        <li>
                            <a href="">Contact</a>
                        </li>

                        <li>
                            <a href="">Aide</a>
                        </li>
                    </ul>

                    <div class="language">
                        <a href="">EN</a>

                        <ul>
                            <li>
                                <a href="">FR</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
