//============================================================
// Forms
//============================================================

@mixin placeholder {
  @at-root #{&}::-webkit-input-placeholder {
    @content
  }
  @at-root #{&}:-moz-placeholder {
    @content
  }
  @at-root #{&}::-moz-placeholder {
    @content
  }
  @at-root #{&}:-ms-input-placeholder {
    @content
  }
  @at-root #{&}::placeholder {
    @content
  }
}

//input {
//  @include placeholder {
//    font-style:italic;
//  }
//}

@mixin clearfix() {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}

//============================================================
// Hide Input number controls
//============================================================

@mixin hide-input-number-controls {
  -moz-appearance: textfield;
  @at-root #{&}::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
  @at-root #{&}::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }
}

//input[type="number"] {
//  @include hide-input-number-controls;
//}

//============================================================
// Typography
//============================================================

@mixin text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//p {
//  @include text-ellipsis;
//}

//============================================================
// Square root
//============================================================

@function sqrt($r) {
  $x0: 1;
  $x1: $x0;

  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
    $x0: $x1;
  }

  @return $x1;
}

//div {
//  margin-top: 25 * sqrt(2) - 25px;
//  // Outputs: margin-top: 10.35533905932738px;
//}

//============================================================
// Fontello
//============================================================

@mixin fontello {
  font-family: fontello;
  letter-spacing: normal;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  user-select: none;
}

//&:before {
//  @include fontello;
//  content: '\E801';
//  font-size: 15px;
//}

@mixin positionMiddle() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin positionLeftMiddle($left) {
  position: absolute;
  top: 50%;
  left: $left;
  transform: translateY(-50%);
}

@mixin positionRightMiddle($right) {
  position: absolute;
  top: 50%;
  right: $right;
  transform: translateY(-50%);
}

@mixin positionFull() {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

//fix fancybox
@function max($numbers...){
  @return m#{a}x(#{$numbers})
}

@function min($numbers...){
  @return m#{i}n(#{$numbers})
}
