<div class="block-banner">
    <div class="mask"></div>
    <div class="wrap-cursor">
        <div class="node" id="node"></div>
        <p class="left"></p>
        <p class="right"></p>
    </div>

    <div class="wrap-item">
        <div class="list-image">
            <div class="image">
                <div class="img bg" style="background-image: url('assets/images/banner-home.jpg')"></div>
            </div>

            <div class="image">
                <div class="img bg" style="background-image: url('assets/images/banner-home2.jpg')"></div>
            </div>

            <div class="image">
                <div class="img bg" style="background-image: url('assets/images/banner-home.jpg')"></div>
            </div>
        </div>

        <div class="box-info">
            <div class="info">
                <p class="collection">Collection</p>
                <h2 class="title">Automne/hiver</h2>

                <div class="descriptions">
                    <p>faux texte chapeaux dans la composition et la <br>mise en page avant impression. Le Lorem
                        Ipsum
                        est <br>le faux texte standard de l'imprimerie</p>
                </div>

                <a href="" class="btn">Découvrir les chapeaux</a>
            </div>

            <div class="info">
                <p class="collection">Collection2</p>
                <h2 class="title">Automne/hiver</h2>

                <div class="descriptions">
                    <p>faux texte chapeaux dans la composition et la <br>mise en page avant impression. Le Lorem
                        Ipsum
                        est <br>le faux texte standard de l'imprimerie</p>
                </div>

                <a href="" class="btn">Découvrir les chapeaux</a>
            </div>

            <div class="info">
                <p class="collection">Collection3</p>
                <h2 class="title">Automne/hiver</h2>

                <div class="descriptions">
                    <p>faux texte chapeaux dans la composition et la <br>mise en page avant impression. Le Lorem
                        Ipsum
                        est <br>le faux texte standard de l'imprimerie</p>
                </div>

                <a href="" class="btn">Découvrir les chapeaux</a>
            </div>
        </div>
    </div>
</div>