<div class="block-contact">
    <div class="wrapper">
        <div class="image">
            <img src="assets/images/img-contact.jpg" alt="">
        </div>

        <div class="col-right">
            <h2 class="title">Besoin d’aide ?</h2>
            <div class="descriptions">
                <p>La réponse à votre question se trouve certainement<br><a href="">dans les questions fréquentes.</a></p>
                <p>Par téléphone : <a href="">+33 (0)1 72 60 77 68</a>
                    <br>du lundi au samedi : 10h - 19h</p>
                <p>Par email : <a href="">contact@mademoisellechapeaux.com</a></p>
            </div>

            <h2 class="title">Boutiques</h2>

            <a href="" class="btn">Toutes les nouveautées</a>
        </div>
    </div>
</div>