<div class="block-information-general-product">
    <div class="wrapper">
        <div class="block-video">
            <div class="video">
                <img src="assets/images/video.jpg" alt="">
                <a class="play-video" data-fancybox="" href="https://www.youtube.com/watch?v=bitnDUoOStQ&amp;list">
                    <i class="icon-play"></i>
                </a>
            </div>

            <p class="title">La fabrication de votre chapeau</p>
            <a href="" class="btn">Découvrir le savoir-faire</a>
        </div>

        <div class="block-information-general">
            <div class="row list-item">
                <div class="col-4 item">
                    <div class="image">
                        <img src="assets/images/item-g1.jpg" alt="">
                    </div>
                    <p class="name">Matière</p>
                </div>

                <div class="col-4 item">
                    <div class="image">
                        <img src="assets/images/item-g2.jpg" alt="">
                    </div>
                    <p class="name">Matière</p>
                </div>

                <div class="col-4 item">
                    <p class="title2">Nos chapelières  façonnent chaque année des milliers de demandes des plus simples au plus insolites. </p>
                </div>
            </div>

            <div class="row list-item">
                <div class="col-8 item">
                    <div class="image">
                        <img src="assets/images/item-g3.jpg" alt="">
                    </div>
                    <p class="name">Matière</p>
                </div>

                <div class="col-4 item">
                    <div class="image">
                        <img src="assets/images/item-g4.jpg" alt="">
                    </div>
                </div>
            </div>

            <h2 class="title2">Nos chapelières  façonnent chaque année des milliers de demandes des plus simples au plus insolites.</h2>
        </div>
    </div>
</div>