<div class="block-instagram">
    <div class="wrapper">
        <p class="text">Suivez-nous sur Instagram</p>
        <h2 class="title2">@mademoisellechapeaux</h2>

        <div class="list-item">
                <a href="">
                    <img src="assets/images/ins1.jpg" alt="">
                </a>

                <a href="">
                    <img src="assets/images/ins2.jpg" alt="">
                </a>

                <a href="">
                    <img src="assets/images/ins3.jpg" alt="">
                </a>

                <a href="">
                    <img src="assets/images/ins4.jpg" alt="">
                </a>

                <a href="">
                    <img src="assets/images/ins5.jpg" alt="">
                </a>
        </div>
    </div>
</div>