<div class="block-les-collections" data-color="#f3e6dc">
    <div class="top-collections">
        <div class="wrapper">
            <h2 class="title">Les collections de chapeaux</h2>
            <p class="sub-title">Venez dénicher votre modèle fétiche et choisissez parmi notre large palette
                de couleurs et de jolies matières, le twist qui sera le vôtre.</p>
            <p><i class="icon-down icon-next-sec"></i></p>
        </div>
    </div>

    <div class="collections">
        <div class="item">
            <div class="image">
                <img src="assets/images/banner-home2.jpg" alt="">
            </div>

            <div class="info">
                <p class="title">Cérémonie</p>
                <a href="" class="btn">Découvrir la collection</a>
            </div>
        </div>

        <div class="item">
            <div class="image">
                <img src="assets/images/collection2.jpg" alt="">
            </div>

            <div class="info">
                <p class="title">Tous les jours</p>
                <a href="" class="btn">Découvrir la collection</a>
            </div>
        </div>
    </div>
</div>