<div class="block-list-journal">
    <div class="wrapper">
        <h2 class="title-large">À lire aussi</h2>

        <div class="row list-journal">
            <div class="col-4 item-journal">
                <a href="" class="link-full"></a>

                <div class="image">
                    <img src="assets/images/DIFFUSER-4003.jpg" alt="">
                </div>

                <div class="info">
                    <p class="category">Categories</p>
                    <p class="name">Carte cadeau : 8 belles raisons d’offrir un chapeau !</p>
                    <p class="descriptions">Chaque année c’est le même casse-tête, grande envie de faire vraiment
                        plaisir, mais qu’offrir ? Voici 8…</p>
                </div>
            </div>

            <div class="col-4 item-journal">
                <a href="" class="link-full"></a>

                <div class="image">
                    <img src="assets/images/DIFFUSER-4003.jpg" alt="">
                </div>

                <div class="info">
                    <p class="category">Categories</p>
                    <p class="name">Grande braderie de lille</p>
                    <p class="descriptions">Chaque année c’est le même casse-tête, grande envie de faire vraiment
                        plaisir, mais qu’offrir ? Voici 8 bonnes raisons de répondre : une carte cadeau pour un…</p>
                </div>
            </div>

            <div class="col-4 item-journal">
                <a href="" class="link-full"></a>

                <div class="image">
                    <img src="assets/images/DIFFUSER-4003.jpg" alt="">
                </div>

                <div class="info">
                    <p class="category">Categories</p>
                    <p class="name">Wax Hat</p>
                    <p class="descriptions">Chaque année c’est le même casse-tête, grande envie de faire vraiment
                        plaisir, mais qu’offrir ? Voici 8 bonnes raisons de répondre : une carte cadeau pour un…</p>
                </div>
            </div>
        </div>
    </div>
</div>