<div class="block-list-product">
    <div class="wrapper">
        <h2 class="title">Trouver votre chapeau du quotidien </h2>

        <div class="row list-product">
            <div class="col-4 product">
                <div class="image">
                    <img src="assets/images/product.jpg" alt="">
                </div>

                <div class="list-image">
                    <div class="item">
                        <a href="">
                            <img src="assets/images/product3.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="assets/images/product.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="assets/images/product.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="info-product">
                    <p class="name-product">Collette</p>
                    <p class="price">280 €</p>
                </div>

                <p class="descriptions">Sa ligne, volontairement simple et épurée, séduit par ses courbes douces et
                    subtiles.</p>

                <div class="list-color">
                    <span style="background-color: #f0e4c2"></span>
                    <span style="background-color: #1d1d1d"></span>
                    <span style="background-color: #fff"></span>
                    <span style="background-color: #c39b77"></span>
                    <span style="background-color: #915f49"></span>
                    <span style="background-color: #8e755e"></span>
                    <span style="background-color: #e4bea6"></span>
                    <span style="background-color: #f2dbdc"></span>
                    <span style="background-color: #dc485e"></span>
                    <span style="background-color: #e42f42"></span>
                    <a href="">+ 10 couleurs</a>
                </div>

                <div class="size">
                    <p>Taille unique</p>
                    <a href="">En savoir +</a>
                </div>
            </div>
            <div class="col-4 product">
                <div class="image">
                    <img src="assets/images/product.jpg" alt="">
                </div>

                <div class="list-image">
                    <div class="item">
                        <a href="">
                            <img src="assets/images/product3.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="assets/images/product.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="assets/images/product.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="info-product">
                    <p class="name-product">Collette</p>
                    <p class="price">280 €</p>
                </div>

                <p class="descriptions">Sa ligne, volontairement simple et épurée, séduit par ses courbes douces et
                    subtiles.</p>

                <div class="list-color">
                    <span style="background-color: #f0e4c2"></span>
                    <span style="background-color: #1d1d1d"></span>
                    <span style="background-color: #fff"></span>
                    <span style="background-color: #c39b77"></span>
                    <span style="background-color: #915f49"></span>
                    <span style="background-color: #8e755e"></span>
                    <span style="background-color: #e4bea6"></span>
                    <span style="background-color: #f2dbdc"></span>
                    <span style="background-color: #dc485e"></span>
                    <span style="background-color: #e42f42"></span>
                    <a href="">+ 10 couleurs</a>
                </div>

                <div class="size">
                    <p>Taille unique</p>
                    <a href="">En savoir +</a>
                </div>
            </div>
            <div class="col-4 product">
                <div class="image">
                    <img src="assets/images/product.jpg" alt="">
                </div>

                <div class="list-image">
                    <div class="item">
                        <a href="">
                            <img src="assets/images/product3.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="assets/images/product.jpg" alt="">
                        </a>
                    </div>
                    <div class="item">
                        <a href="">
                            <img src="assets/images/product.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="info-product">
                    <p class="name-product">Collette</p>
                    <p class="price">280 €</p>
                </div>

                <p class="descriptions">Sa ligne, volontairement simple et épurée, séduit par ses courbes douces et
                    subtiles.</p>

                <div class="list-color">
                    <span style="background-color: #f0e4c2"></span>
                    <span style="background-color: #1d1d1d"></span>
                    <span style="background-color: #fff"></span>
                    <span style="background-color: #c39b77"></span>
                    <span style="background-color: #915f49"></span>
                    <span style="background-color: #8e755e"></span>
                    <span style="background-color: #e4bea6"></span>
                    <span style="background-color: #f2dbdc"></span>
                    <span style="background-color: #dc485e"></span>
                    <span style="background-color: #e42f42"></span>
                    <a href="">+ 10 couleurs</a>
                </div>

                <div class="size">
                    <p>Taille unique</p>
                    <a href="">En savoir +</a>
                </div>
            </div>
        </div>

        <p class="wrap-btn"><a href="" class="btn">Découvrir la collection</a></p>
    </div>
</div>