<div class="block-melanger-la-traditio" data-color="#eef7f4">
    <div class="list-product">
        <div class="item">
            <div class="image">
                <img src="assets/images/me1.jpg" alt="">
            </div>

            <p class="name-product">Boutiques</p>
        </div>

        <div class="item">
            <div class="image">
                <img src="assets/images/me2.jpg" alt="">
            </div>

            <p class="name-product">Les matières</p>
        </div>
    </div>

    <div class="wrapper">
        <div class="info">
            <h2 class="title">Mélanger la tradition
                et la fantaisie</h2>
            <div class="descriptions">
                <p>Pour tous les jours ou pour une occasion spéciale, tous les modèles de notre collection peuvent être
                    adaptés. Nos conseillères vous accueillent dans nos boutiques de Paris et de Lille.</p>
                <p>Venez dénicher votre modèle fétiche et choisissez parmi notre large palette de couleurs et de jolies
                    matières, feutre ou paille, le twist qui sera le vôtre.</p>
            </div>

            <a href="" class="btn">Nous trouver</a>
        </div>
    </div>
</div>