<div class="block-news" data-color="#fff">
    <div class="wrapper">
        <h2 class="title">Les nouveautés</h2>
        <p class="title2">Mademoiselle Chapeaux</p>

        <div class="content-news">
            <div class="wrap-list-product">
                <div class="list-product">
                    <div class="product not-slider">
                        <div class="image">
                            <img src="assets/images/product.jpg" alt="">
                        </div>
                    </div>

                    <div class="product not-slider">
                        <div class="image">
                            <img src="assets/images/product3.jpg" alt="">
                        </div>
                    </div>
                    <div class="product not-slider">
                        <div class="image">
                            <img src="assets/images/product.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="group-icon-slider"></div>

                <div class="list-info-product">
                    <div class="info-product">
                        <p class="name-product">Collette1</p>
                        <p class="price">280 €</p>
                    </div>
                    <div class="info-product">
                        <p class="name-product">Collette2</p>
                        <p class="price">280 €</p>
                    </div>
                    <div class="info-product">
                        <p class="name-product">Collette3</p>
                        <p class="price">280 €</p>
                    </div>
                </div>
            </div>

            <div class="news">
                <div class="list-product-for">
                    <div class="image">
                        <img src="assets/images/news.jpg" alt="">
                    </div>

                    <div class="image">
                        <img src="assets/images/collection2.jpg" alt="">
                    </div>

                    <div class="image">
                        <img src="assets/images/news.jpg" alt="">
                    </div>
                </div>

                <p class="title-news">L’élégance au quotidien</p>
                <a href="" class="btn">Toutes les nouveautées</a>
            </div>
        </div>
    </div>
</div>