<div class="block-savoir-faire" data-color="#f3f7fb">
    <div class="wrapper">
        <h2 class="title">Un savoir-faire français</h2>
        <p class="title2">« Je porte un chapeau tous les jours. Je les collectionne.<br>Je les chine. Je les
            personnalise. » </p>

        <div class="video">
            <img src="assets/images/video.jpg" alt="">
            <a class="play-video" data-fancybox href="https://www.youtube.com/watch?v=bitnDUoOStQ&list" >
                <i class="icon-play"></i>
            </a>
        </div>

        <div class="descriptions">
            <p>
                C’est dans l’antre d’un <a href="">quartier historique de Paris</a>,
                <br>qu’est imaginée chaque collection et confectionnée minutieusement <br>à la main chaque pièce, dans le plus
                grand respect du savoir-faire <br>artisanal traditionnel.
            </p>
        </div>

        <a href="" class="btn">Décourvrir notre savoir faire</a>
    </div>
</div>