<div class="block-services category-location">
    <div class="wrapper">
        <h2 class="title">Des services pour vous</h2>

        <div class="list-item">
            <div class="item">
                <p class="icon">
                    <img src="assets/images/icons-cleaning.svg" alt="">
                </p>

                <p class="title-service">Nettoyage <br>professionnel</p>

                <a href="" class="btn-service">En savoir plus<i class="icon-arrow-right"></i></a>
            </div>

            <div class="item">
                <p class="icon">
                    <img src="assets/images/icon-sav.svg" alt="">
                </p>

                <p class="title-service">Service client<br>facilement joingnable</p>

                <a href="" class="btn-service">Nous contacter<i class="icon-arrow-right"></i></a>
            </div>



            <div class="item">
                <p class="icon">
                    <img src="assets/images/icon-french.svg" alt="">
                </p>

                <p class="title-service">Savoir-Faire<br>français de qualité</p>

                <a href="" class="btn-service">Découvrir l’histoire<i class="icon-arrow-right"></i></a>
            </div>

            <div class="item">
                <p class="icon">
                    <img src="assets/images/icon-delivery.svg" alt="">
                </p>

                <p class="title-service">Livraison rapide
                    <br>en 8 à 10 jours ouvrés</p>

                <a href="" class="btn-service">En savoir plus<i class="icon-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>