@import '../includes/variables';


html.animation-page-html {
    margin-top: 0 !important;
}

.admin-bar {
    #header {
        padding-top: 32px;
    }
}

.open-menu-mobile {
    overflow: hidden;

    #header .wrap-header {
        left: 0;
    }

    .header-mobile:before {
        content: '';
        height: 100%;
        width: 100%;
        background-color: rgba($dark-grey, 0.22);
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 9998;
    }
}

#header {
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all .5s;


    &:hover, &.open-sub-menu {
        @media screen and (min-width: $desktop-small + 1) {
            padding-bottom: 20px;
            background-color: $white;
        }
    }

    &.pin {
        @media screen and (min-width: $desktop-small + 1) {
            padding-bottom: 20px;

            .top-header {
                max-height: 0;
                visibility: hidden;
                padding: 0;
                transition: all .1s;
            }

            .menu > li.active .wrap-sub-menu {
                top: 18px;
            }
        }

        .header-mobile {
            padding: 10px 20px;

            @media screen and (max-width: $desktop-small) {
                background-color: $white;
            }
        }

        .logo img {
            height: 60px;
        }

        .header-mobile {
            .logo img {
                height: 60px;
            }
        }
    }

    .top-header {
        padding: 10px 0;
        background-color: $white;
        font-size: 15px;
        z-index: 100;
        max-height: 500px;
        transition: all .3s;

        @media screen and (min-width: $desktop-small + 1) {
            position: relative;
        }

        .wrap-form-search {
            position: absolute;
            left: 153px;
            top: 28px;

            @media screen and (min-width: $desktop-small + 1) {
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transform: translateY(-100%);
                background-color: $white;
                display: flex;
                align-items: center;
                transition: all .3s;
                pointer-events: none;
                opacity: 0;
            }

            &.active {
                opacity: 1;
                z-index: 10;
                pointer-events: auto;
                transform: translateY(0);
                transition: all .5s;
            }

            .form-search {
                display: flex;
                width: 125px;
                margin: 0 auto;

                @media screen and (min-width: $desktop-small + 1) {
                    width: 500px;
                }

                .form-group {
                    width: 100%;
                    margin-bottom: 0;

                    input {
                        width: 100%;
                        border-bottom: 1px solid #e7e8ee;
                        font-size: 18px;

                        @media screen and (min-width: $desktop-small + 1) {
                            @include placeholder {
                                color: $white;
                            }
                        }
                    }
                }

                .icon-search {
                    margin-right: 10px;
                    font-size: 19px;

                    @media screen and (min-width: $desktop-small + 1) {
                        margin-right: 30px;
                    }
                }

                .icon-cross {
                    margin-left: 30px;
                    font-size: 17px;
                    padding-top: 4px;

                    @media screen and (max-width: $desktop-small) {
                        display: none;
                    }
                }
            }
        }

        .wrapper {
            display: flex;

            @media screen and (max-width: $desktop-small) {
                flex-direction: column-reverse;
            }

            .text {
                width: 100%;
                flex-shrink: 0;
                margin-top: 10px;
                position: relative;
                top: 2px;

                @media screen and (min-width: $desktop-small + 1) {
                    text-align: center;
                    margin-top: 0;
                }
            }

            .right-top-header {
                @media screen and (min-width: $desktop-small + 1) {
                    display: flex;
                    flex-shrink: 0;
                    position: absolute;
                    right: 0;
                    align-items: center;
                }

                @media screen and (max-width: $desktop-small) {
                    padding-top: 30px;
                    position: relative;

                    &:before {
                        content: '';
                        height: 1px;
                        width: calc(100% + 40px);
                        background-color: #e7e8ee;
                        position: absolute;
                        top: 0;
                        left: -20px;
                    }
                }

                li {
                    @media screen and (min-width: $desktop-small + 1) {
                        display: inline-block;
                        margin-left: 30px;
                    }

                    @media screen and (max-width: $desktop-small) {
                        font-size: 18px;
                        text-transform: uppercase;
                        margin-bottom: 27px;
                    }
                }

                .search {
                    @media screen and (max-width: $desktop-small + 1) {
                        display: none;
                    }

                    .icon-search {
                        font-size: 19px;
                        position: relative;
                        top: -1px;
                    }
                }

                .language {
                    position: relative;

                    @media screen and (min-width: $desktop-small + 1) {
                        margin-left: 30px;
                    }

                    @media screen and (max-width: $desktop-small) {
                        font-size: 18px;
                        text-transform: uppercase;
                        margin-bottom: 20px;
                    }

                    &.active {
                        ul {
                            display: block;
                        }
                    }

                    > a {
                        &:after {
                            content: '\e902';
                            font-family: 'icomoon' !important;
                            font-size: 3px;
                            display: inline-block;
                            margin-left: 9px;
                            position: relative;
                            top: -3px;
                        }
                    }

                    ul {
                        display: none;
                        position: absolute;
                        left: 0;
                        top: 100%;

                        li {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }

    .main-header {
        padding-top: 20px;
        font-weight: 500;
        text-transform: uppercase;

        @media screen and (max-width: $desktop-small) {
            padding: 20px 0;
        }

        .wrapper {
            @media screen and (min-width: $desktop-small + 1) {
                display: flex;
                justify-content: space-between;
            }

            .logo {
                @media screen and (max-width: $desktop-small) {
                    display: none;
                }

                @media screen and (min-width: $desktop-small + 1) {
                    min-width: 160px;
                }

                img {
                    transition: all 0.3s;
                }
            }

            .right-menu {
                font-size: 17px;
                margin: 10px 0 20px;

                @media screen and (min-width: $desktop-small + 1) {
                    display: flex;
                    margin: 25px 0 20px;
                }

                li {
                    margin-left: 30px;

                    @media screen and (max-width: $desktop-small ) {
                        margin-left: 0;
                        font-size: 18px;
                        text-transform: uppercase;
                        font-weight: 500;
                    }

                    &:last-child {
                        @media screen and (max-width: $desktop-small) {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .wrap-header {
        @media screen and (max-width: $desktop-small) {
            position: fixed;
            left: -320px;
            top: 0;
            bottom: 0;
            width: 300px;
            background-color: $white;
            z-index: 9999;
            padding: 31px 0;
            transition: all .5s;
            overflow-y: auto;
        }

        @media screen and (min-width: $desktop-small + 1) {
            display: flex;
            flex-direction: column-reverse;
        }

        .icon-close {
            position: absolute;
            top: 37px;
            width: 35px;
            height: 35px;
            left: 20px;

            @media screen and (min-width: $desktop-small + 1) {
                display: none;
            }

            &:before {
                height: 1px;
                width: 35px;
                left: -1px;
            }

            &:after {
                height: 35px;
                width: 1px;
                left: 16px;
                top: 0;
            }
        }
    }

    .header-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        transition: all .4s;

        @media screen and (min-width: $desktop-small + 1) {
            display: none;
        }

        .cart {
            position: relative;

            span {
                position: absolute;
                bottom: -1px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .logo img {
            height: 73px;
        }

        .bar-mobile {
            height: 38px;
            width: 38px;
            z-index: 9;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                background: $dark-grey;
                height: 1px;
                width: 38px;
                position: relative;

                &:before {
                    content: '';
                    background-color: $dark-grey;
                    height: 1px;
                    width: 38px;
                    position: absolute;
                    top: -14px;
                    left: 0;
                    transition: all .3s;
                }

                &:after {
                    content: '';
                    background-color: $dark-grey;
                    height: 1px;
                    width: 38px;
                    position: absolute;
                    bottom: -14px;
                    left: 0;
                    transition: all .3s;
                }
            }
        }
    }
}
