@import '../includes/variables';

@import '../../../node_modules/gutenberg-css/dist/gutenberg';

@import '../../../node_modules/gutenberg-css/dist/themes/oldstyle';
//@import '../../../node_modules/gutenberg-css/dist/themes/modern';
//@import '../../../node_modules/gutenberg-css/dist/themes/book';

* {
  color-adjust: exact;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact; // sass-lint:disable-line no-misspelled-properties
}