<div class="block-product">
    {% include '@blocks/popup/popup-initials.twig' %}
    {% include '@blocks/popup/popup-newsletter.twig' %}
    {% include '@blocks/popup/popup-size.twig' %}
    {% include '@blocks/popup/popup-stock.twig' %}
    {% include '@blocks/popup/popup-fabrique.twig' %}

    <div class="wrapper">
        <ul class="breadcrumbs">
            <li>
                <a href="">Page d’accueil</a>
            </li>
            <li>
                <a href="">E-Shop</a>
            </li>
            <li>
                <a href="">Cérémonie</a>
            </li>

            <li class="active">
                <a href="">Simone</a>
            </li>
        </ul>

        <div class="row info-product">
            <div class="col-7 col-left">
                <div class="list-image">
                    <div class="image">
                        <img src="assets/images/product-red.jpg" alt="">
                    </div>
                    <div class="image">
                        <img src="assets/images/product-red2.jpg" alt="">
                    </div>
                    <div class="image">
                        <img src="assets/images/product-red3.jpg" alt="">
                    </div>
                    <div class="image">
                        <img src="assets/images/product4.jpg" alt="">
                        <a class="play-video" data-fancybox="" href="https://www.youtube.com/watch?v=bitnDUoOStQ">
                            <i class="icon-play"></i>
                        </a>
                    </div>
                    <div class="image">
                        <img src="assets/images/product-red.jpg" alt="">
                    </div>
                </div>

                <div class="list-image-for">
                    <div class="image">
                        <img src="assets/images/product-red.jpg" alt="">
                    </div>
                    <div class="image">
                        <img src="assets/images/product-red2.jpg" alt="">
                    </div>
                    <div class="image">
                        <img src="assets/images/product-red3.jpg" alt="">
                    </div>
                    <div class="image">
                        <img src="assets/images/product4.jpg" alt="">
                        <a class="play-video" data-fancybox="" href="https://www.youtube.com/watch?v=bitnDUoOStQ">
                            <i class="icon-play"></i>
                        </a>
                    </div>
                    <div class="image">
                        <img src="assets/images/product-red.jpg" alt="">
                    </div>
                </div>

            </div>

            <div class="col-5 col-right">
                <div class="info">
                    <p class="category">Cérémonie</p>
                    <h2 class="name-product">Simone</h2>

                    <div class="descriptions">
                        <p>Sa ligne, volontairement simple et épurée, séduit par ses courbes douces et subtiles. <a
                                    href="" data-popup="popup-fabrique" class="btn-underline">Fabriqué en France</a></p>
                    </div>
                    <p class="price">135 € <span>(Preix neuf: 300$)</span></p>

                    <p class="caution">*caution: 370.99$ (non encaissée)</p>

                    <div class="wrap-size">
                        <select class="form-select2" data-placeholder="Choisir la taille">
                            <option></option>
                            <option value="1">S : 55 cm</option>
                            <option value="2">M : 57 cm</option>
                            <option value="3">L : 59 cm</option>
                        </select>

                        <a href="" data-popup="popup-size" class="btn-underline">Guide des tailles</a>
                    </div>

                    <div class="date">
                        <select class="form-select2" data-placeholder="Choisir une date de location">
                            <option></option>
                            <option value="1">01/1/2020</option>
                            <option value="2">01/1/2020</option>
                            <option value="3">01/1/2020</option>
                        </select>
                    </div>

                    <ul class="checkbox-group checkbox-group-color">
                        <li>
                            <input type="checkbox" value="">
                            <label style="background-color: #f0e4c2"></label>
                        </li>
                        <li>
                            <input type="checkbox" value="">
                            <label style="background-color: #1d1d1d"></label>
                        </li>
                        <li>
                            <input type="checkbox" value="">
                            <label style="background-color: #c39b77"></label>
                        </li>
                        <li>
                            <input type="checkbox" value="">
                            <label style="background-color: #915f49"></label>
                        </li>
                        <li>
                            <input type="checkbox" value="">
                            <label style="background-color: #dc485e"></label>
                        </li>
                        <li>
                            <input type="checkbox" value="">
                            <label style="background-color: #17448e"></label>
                        </li>
                        <li>
                            <input type="checkbox" value="">
                            <label style="background-color: #f0e4c2"></label>
                        </li>
                        <li>
                            <input type="checkbox" value="">
                            <label style="background-color: #1d1d1d"></label>
                        </li>
                        <li>
                            <input type="checkbox" value="">
                            <label style="background-color: #c39b77"></label>
                        </li>
                        <li>
                            <input type="checkbox" value="">
                            <label style="background-color: #915f49"></label>
                        </li>
                        <li>
                            <input type="checkbox" value="">
                            <label style="background-color: #dc485e"></label>
                        </li>
                        <li>
                            <input type="checkbox" value="">
                            <label style="background-color: #17448e"></label>
                        </li>
                        <li>
                            <input type="checkbox" value="">
                            <label style="background-color: #f0e4c2"></label>
                        </li>
                        <li>
                            <input type="checkbox" value="">
                            <label style="background-color: #1d1d1d"></label>
                        </li>
                        <li>
                            <input type="checkbox" value="">
                            <label style="background-color: #c39b77"></label>
                        </li>
                        <li>
                            <input type="checkbox" value="">
                            <label style="background-color: #915f49"></label>
                        </li>
                        <li>
                            <input type="checkbox" value="">
                            <label style="background-color: #dc485e"></label>
                        </li>
                        <li>
                            <input type="checkbox" value="">
                            <label style="background-color: #17448e"></label>
                        </li>
                    </ul>

                    <a href="" class="btn-full black">Ajouter au panier</a>

                    <div class="wrap-conditions">
                        <a href="">Consulter les conditions de location</a>
                    </div>

                    <div class="box-support">
                        <p class="title">Besoin d’aide ? </p>

                        <div class="descriptions">
                            <p>Par téléphone: <a href="tel:+33(0)172607768">+33 (0)1 72 60 77 68</a> du lundi au
                                samedi: 10h - 19h</p>

                            <p>La réponse à votre question se trouve certainement dans
                                <a href="">les questions fréquentes.</a></p>
                        </div>
                    </div>

                    <div class="history">
                        <p class="title">Son histoire</p>

                        <p class="des">Chapeau de cérémonie et mariage Miss Scarlett en paille cousue.
                            Sa ligne, volontairement simple et épurée, séduit par ses courbes douces et subtiles.
                            <br>Chaque année, notre maison le met à l’honneur et propose une édition limitée dans une
                            matière innovante. </p>
                    </div>

                    <div class="faq collapse">
                        <div class="item">
                            <p class="title-item">Livraison et retours</p>

                            <div class="des">
                                <p>Chapeau de cérémonie et mariage Miss Scarlett en paille cousue.
                                    Sa ligne, volontairement simple et épurée, séduit par ses courbes douces et
                                    subtiles.
                                    <br>Chaque année, notre maison le met à l’honneur et propose une édition limitée
                                    dans
                                    une matière innovante. </p>
                            </div>
                        </div>

                        <div class="item">
                            <p class="title-item">Comment l’assortir</p>

                            <div class="des">
                                <p>Chapeau de cérémonie et mariage Miss Scarlett en paille cousue.
                                    Sa ligne, volontairement simple et épurée, séduit par ses courbes douces et
                                    subtiles.
                                    <br>Chaque année, notre maison le met à l’honneur et propose une édition limitée
                                    dans
                                    une matière innovante. </p>
                            </div>
                        </div>

                        <div class="item">
                            <p class="title-item">Comment le porter</p>

                            <div class="des">
                                <p>Chapeau de cérémonie et mariage Miss Scarlett en paille cousue.
                                    Sa ligne, volontairement simple et épurée, séduit par ses courbes douces et
                                    subtiles.
                                    <br>Chaque année, notre maison le met à l’honneur et propose une édition limitée
                                    dans
                                    une matière innovante. </p>
                            </div>
                        </div>

                        <div class="item">
                            <p class="title-item">Entretien</p>

                            <div class="des">
                                <p>Chapeau de cérémonie et mariage Miss Scarlett en paille cousue.
                                    Sa ligne, volontairement simple et épurée, séduit par ses courbes douces et
                                    subtiles.
                                    <br>Chaque année, notre maison le met à l’honneur et propose une édition limitée
                                    dans
                                    une matière innovante. </p>
                            </div>
                        </div>

                        <div class="item">
                            <p class="title-item">Offrir en cadeau</p>

                            <div class="des">
                                <p>Chapeau de cérémonie et mariage Miss Scarlett en paille cousue.
                                    Sa ligne, volontairement simple et épurée, séduit par ses courbes douces et
                                    subtiles.
                                    <br>Chaque année, notre maison le met à l’honneur et propose une édition limitée
                                    dans
                                    une matière innovante. </p>
                            </div>
                        </div>
                    </div>

                    <a href="" class="btn-full">partager <i class="icon-share"></i></a>
                </div>
            </div>
        </div>

        <div class="bottom-product">
            <p class="title">Découvrez nos accessoires pour compléter votre tenue </p>
            <div class="row list-product">
                <div class="col-3 product not-slider">
                    <a href="" class="link-full"></a>
                    <div class="image">
                        <img src="assets/images/product5.jpg" alt="">
                    </div>

                    <div class="info-product">
                        <p class="name-product">Collette</p>
                        <p class="price">280 €</p>
                    </div>

                    <p class="descriptions">Sa ligne, volontairement simple et épurée, séduit par ses courbes douces et
                        subtiles.</p>
                </div>

                <div class="col-3 product not-slider">
                    <a href="" class="link-full"></a>
                    <div class="image">
                        <img src="assets/images/product6.jpg" alt="">
                    </div>

                    <div class="info-product">
                        <p class="name-product">Collette</p>
                        <p class="price">280 €</p>
                    </div>

                    <p class="descriptions">Sa ligne, volontairement simple et épurée, séduit par ses courbes douces et
                        subtiles.</p>
                </div>
            </div>
        </div>
    </div>
</div>